################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment5Attempt2/v17/.wsuo
/Assignment-5/.vs/Assignment-5/FileContentIndex/1c812fa8-821c-48e2-8187-f39bf896ed79.vsidx
