################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment5Attempt2/v17/.wsuo
/Assignment-5/.vs/Assignment-5/FileContentIndex/1c812fa8-821c-48e2-8187-f39bf896ed79.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/1ce9e15a-de35-42f0-a8ee-6735ea53ed1e.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/354346f5-56c1-420c-b74c-dd3f67bec7d7.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/40b2f6c9-e8cd-4691-b417-03b7486adb43.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/54dae1c2-6666-45e7-a7b8-6d8421716d4f.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/780e56d7-69b0-48c5-8a25-31ddc7b2bf73.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/d6cab160-e323-4381-8c36-c8fbaa3648da.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/e5803aff-e066-4063-9f8f-f1fa458d98cd.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex/e7c548d3-574a-458e-aef7-f56fe369004f.vsidx
/Assignment-5/.vs/Assignment-5/FileContentIndex
