@{
    ViewData["Title"] = "Home Page";
    List<string>? genres = (List<string>?)ViewData["Genres"];
    List<string>? artists = (List<string>?)ViewData["Artists"];
    List<Song>? songs = (List<Song>?)ViewData["Songs"];

    Song[] songsArray = (Song[])ViewData["SongsArray"];
    int[] quantitiesArray = (int[])ViewData["QuantitiesArray"];
    decimal totalPrice = (decimal)ViewData["TotalPrice"];
}

<div class="text-center">
    <h1 class="display-4">MusicShop</h1>

    <label for="Genres">Genre Select:</label>
    <select id="Genres" name="GenreID">

    </select>

