@using Assignment_5.Models;
@{
    ViewData["Title"] = "Home Page";
    List<string>? genres = (List<string>?)ViewData["Genres"];
    List<string>? artists = (List<string>?)ViewData["Artists"];
    List<Media>? songs = (List<Media>?)ViewData["Songs"];

    Media[] songsArray = (Media[])ViewData["SongsArray"];
    //int[] quantitiesArray = (int[])ViewData["QuantitiesArray"];
    //decimal totalPrice = (decimal)ViewData["TotalPrice"];
}

<div class="text-center">
    <h1 class="display-4">MusicShop</h1>
    <input class="btn btn-outline-dark" type="submit" value="Filter" />
    }
    <input class="btn btn-outline-danger" type="submit" value="Clear Filters" />
</div>


