@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to the Admininstrator Page</h2>

<p>Please Select a category to edit:</p>

<div>@Html.ActionLink("Genres", "Index")</div>

<a asp-controller="GenresController" asp-action="Index"></a>